/* Estilos gerais */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    175.08deg,
    #311c84 26.76%,
    rgba(223, 62, 120, 0.44) 96.04%
  );
}

.container {
  display: flex;
  justify-content: space-between;  
  margin: 200px; /* Espaço entre a borda e o conteúdo */
}

.nav-bar {
  display: flex;
  align-items: center;
  margin: 200px;
  
}

.left-nav {
  margin-right: auto; /* Empurra para a direita */
}

.right-nav {
  margin-left: auto; /* Empurra para a esquerda */
  
}

.left-division
.right-division {
  width: 45%; /* Largura das divisões */
}

/* Estilos específicos para cada seção */
/* Estilos para a barra de navegação */
.welcome-message {
  padding: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 37.5px;
}

/*span n mudou nada */

.span {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: left;
}

.starting-message {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 200;
  line-height: 23.44px;
  text-align: left;
}

.conection-status {
  padding: 10px;
  width: 197px;
  height: 51px;
  top: 76px;
  left: 975px;
  gap: 0px;
  opacity: 0px;

}

.clock {
  font-size: 16px;
  margin-bottom: 5px;
}

#ponto{
  width: 14px;
  height: 14px;
  top: 19px;
  left: 164px;
  gap: 0px;
  opacity: 0px;
  background: #eb0c0c;
  
}

/* Estilos para as divisões */
.statitiscs {
  width: 522px;
  height: 345.3px;
  top: 237px;
  left: 108px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
}
.data {
  margin-bottom: 20px;
  width: 522px;
  height: 355px;
  top: 597px;
  left: 108px;
  gap: 0px;
  opacity: 0px;
}

.section-title {
  margin-bottom: 10px;
}

.numbers-table {
    list-style: none;
}

.chart-card img {
  width: 522px;
  height: 280.45px;
  top: 301.84px;
  left: 108px;
  gap: 0px;
  opacity: 0px;
}
.image-info img {
  width: 414px;
  height: 280px;
  top: 302px;
  left: 758px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(24, 4, 109, 0.7) 100%
  );
}

.about-info p {
  width: 414px;
  height: 170px;
  top: 631px;
  left: 758px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}